<h2 class="current-user"><%= @user.first_name.capitalize %>'s Stats</h2>

  <% @user.rounds.order(created_at: :desc).each do |round| %>
    <div style="width: 500px;text-align: left;padding-left: 10px;" class="card-display">
      <p>Deck: <%= round.deck.title %></p>
      <p>Date Played: <%= round.formatted_date %></p>
      <p>Total Questions: <%= round.deck.cards.count %></p>
      <p>Answered Correctly on First Try: <%= round.correct_on_first_try %>/<%= round.deck.cards.count %></p>
    </div><br>
  <% end %>
