<div class="card-display">
  <h3>Category: <%= @deck.title %></h3><hr>
  <h2><%= @card.question %></h2><br>
  <% if @message %>
  <%=  %>
  <% end %>

    <form method='post' action='/guesses'>
      <ul>
        <% @card.possible_answers.each do |answer| %>
        <li class="possible-answer"> <input name="user_guess" type="radio" value="<%= answer.answer %>"> &nbsp;<%= answer.answer %></li>
        <% end %>
      </ul>
      <input type="hidden" name="card_id" value="<%= @card.id %>">
      <input type="submit" value="Submit"><br><br>
    <form>
</div>
